.home {
    min-height: calc(100vh - 70px);
    background-color: #1935c4;
    width: 100%;
    overflow-x: hidden;

    .slide {
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        background-color: transparent;
        position: relative;
        margin-top: 10px;
        cursor: grab;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 98%;
            height: 93%;
            object-fit: cover;
            object-position: top;
            border-radius: 10px;
            box-shadow: 0 20px 20px rgba(0, 0, 0, .6);
        }
    }

    .slick-arrow {
        font-size: 2.8rem;
        z-index: 1;
        margin-top: -30px;

        &::before {
            font-size: 30px;
        }

        &.slick-next {
            right: 100px
        }

        &.slick-prev {
            left: 90px
        }
    }

    .slick-dots {
        li {
            button::before {
                color: #D9D9D9;
                opacity: .3;
                font-size: 15px;
            }

            &.slick-active button::before {
                color: #D9D9D9;
                opacity: 1;
            }
        }
    }

}





@media (max-width:900px) {
    .home {

        .slide {
            min-height: 270px;
            
        img {
            width: 97%;
            height: 88%;
        }
        }
        .slick-arrow {
            margin-top: -15px;    
            &.slick-next {
                right: 50px
            }
            &.slick-prev {
                left: 40px
            }
        }
        .slick-dots {
            top: 95% !important;
        }
    }
}